@media screen and (max-width: 992px) {
  nav {
    padding: 2rem 1.5rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 50;

    .nav-item-container {
      @include flexItem(row, space-between);
      align-items: center;

      .logo-image {
        z-index: 200;

        img {
          width: 13rem;
        }
      }

      .nav-item-list {
        display: none;
        transform: translateY(0.5rem);

        &.active {
          display: block;
          z-index: 100;
          position: fixed;
          top: 0;
          left: 0;
          background-color: #eaeaff;
          width: 100%;
          height: 100%;
          transform: translateY(0);
          @include flexItem(column, center);
          align-items: flex-start;

          .nav-item {
            margin: 2.5rem 0;

            .nav-link {
              span {
                margin-left: 0.5rem;
              }
            }
          }
        }

        .nav-item {
          margin: 0 2rem;

          &:hover {
            ul {
              &.dropdown {
                display: none;

                &.active {
                  display: block;
                }

                li {
                  padding: 0.7rem 0;

                  &:hover {
                    a {
                      color: #3131c6;
                    }
                  }
                  a {
                    color: $black;
                  }
                }
              }

              &.dropdown-two {
                display: none;

                &.active {
                  display: block;
                }

                li {
                  padding: 0.7rem 0;

                  &:hover {
                    a {
                      color: #3131c6;
                    }
                  }
                  a {
                    color: $black;
                  }
                }
              }
            }
          }

          ul {
            &.dropdown {
              width: 20rem;
              height: 10rem;
              background-color: $white;
              box-shadow: rgba(149, 157, 165, 0.1) 0px 7px 26px;

              position: absolute;
              z-index: 999;
              display: none;

              li {
                display: block;
              }
            }
          }

          .nav-link {
            font-weight: 600;
            cursor: pointer;

            span {
              margin-left: 0.5rem;
            }
          }
        }
      }

      .nav-bar-start-earning {
        display: none;
      }

      .menu {
        display: block;
        z-index: 200;

        width: 40px;
        height: 40px;

        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        z-index: 100;

        span {
          display: block;
          position: absolute;
          height: 3px;
          width: 50%;
          background: $black;
          opacity: 1;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
        }

        span:nth-child(even) {
          left: 50%;
          border-radius: 0 9px 9px 0;
        }

        span:nth-child(odd) {
          left: 0px;
          border-radius: 9px 0 0 9px;
        }

        span:nth-child(1),
        span:nth-child(2) {
          top: 0px;
        }

        span:nth-child(3),
        span:nth-child(4) {
          top: 10px;
        }

        span:nth-child(5),
        span:nth-child(6) {
          top: 20px;
        }
      }

      .menu.open span:nth-child(1),
      .menu.open span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .menu.open span:nth-child(2),
      .menu.open span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      .menu.open span:nth-child(1) {
        left: 7px;
        top: 7px;
      }

      .menu.open span:nth-child(2) {
        left: calc(50% - 0px);
        top: 7px;
      }

      .menu.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      .menu.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      .menu.open span:nth-child(5) {
        left: 7px;
        top: 20px;
      }

      .menu.open span:nth-child(6) {
        left: calc(50% - 0px);
        top: 20px;
      }
    }
  }

  header {
    padding: 12rem 0 4rem 0;
    h1 {
      margin-top: 3rem;
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }

    .row-item {
      .learn-more {
        padding: 1.2rem 2.5rem;

        margin-right: 1rem;
      }
      .start-earning {
        padding: 1rem 2.3rem;

        margin-left: 1rem;
      }
    }
  }

  .our-mission {
    padding: 4rem 0;

    h2 {
      margin-left: 0;
      font-size: 1.5em;
    }

    .learn-engage-earn {
      margin-top: 3rem;
      h2 {
        margin-left: 0;
        font-size: 1.3em;
      }

      p {
        margin-top: 1rem;
        margin-left: 0;
        font-size: 1.1em;
      }
    }
  }

  .promote-engage {
    padding: 4rem 0;
    .heading {
      width: 90%;
      margin: 0 auto;

      h2 {
        font-weight: bold;
        font-size: 1.5em;
      }
    }

    .card-container {
      margin: 2rem 0;

      width: 100%;
      height: 50rem;
      @include flexItem(row, space-around);
      align-items: center;

      .engage-card {
        @include flexItem(row, space-around);
        align-items: center;
        img {
          width: 80%;
        }
      }

      .engage-card:nth-child(2) {
        transform: translateY(0rem);

        transition: 1s ease;
        &:hover {
          transform: translateY(-2rem);
          transition: 1s ease;
        }
      }
    }
  }

  .security {
    h2 {
      font-size: 2em;
    }

    p {
      font-size: 1em;
      margin-top: 1.1rem;
      margin-bottom: 2.5rem;
    }
  }

  .multiple-ways-to-earn {
    width: 93%;
    margin: 0 auto;
    padding: 5rem 0;

    .row-item {
      @include flexItem(row, space-between);
      align-items: center;

      .line {
        width: 20%;
        height: 0.4rem;
      }

      h2 {
        font-weight: 600;
      }
    }

    .container-row {
      margin: 5rem 0;

      position: relative;
      height: 33rem;
      width: 100%;

      .card-one,
      .card-two {
        height: 25rem;
        width: 48%;
        box-shadow: rgba(149, 157, 165, 0.5) 0px 7px 26px;

        position: relative;

        .row-item {
          @include flexItem(row, space-between);
          align-items: center;

          h1 {
            margin: 1rem 1.1rem;
            font-size: 5em;
            color: rgba(0, 0, 0, 0.4);
            font-weight: bolder;
          }

          .box {
            position: absolute;
            top: 0;
            right: 0;
            width: 6rem;
            height: 6rem;
          }
        }

        h4 {
          font-weight: bold;
          padding-left: 1.2rem;
        }
        p {
          padding: 0 1.2rem;
          font-size: 0.9em;
        }
      }

      .card-two {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
