/* Description: Master CSS file */
/*****************************************
Table Of Contents:
- Css Reset
- Colors
- Mixins
- Font
- General Styles
- Services
- About Us
- Our Approach
- Our Team
- Contact Page
- Quote Table
- Quote Detail Page
- Footer
- Media Queries
******************************************/
/*****************************************

******************************************/
/**********************/
/*        Font        */
/**********************/
@font-face {
  src: url("@/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-family: "Montserrat";
}

@font-face {
  src: url("@/assets/fonts/inter.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  src: url("@/assets/fonts/MuseoModerno-VariableFont_wght.ttf") format("truetype");
  font-family: "MuseoModerno";
}

/**************************/
/*        Css Reset       */
/**************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "Montserrat";
  list-style: none;
}

* a {
  text-decoration: none;
}

/**********************/
/*       Colors       */
/**********************/
/**********************/
/*       Mixins       */
/**********************/
/**********************/
/*   General Styles   */
/**********************/
header {
  padding: 5rem 0;
}

header h1 {
  font-weight: 700;
  font-size: 3.5em;
}

header h2 {
  font-weight: 600;
  margin: 2rem 0;
}

header .row-item {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .row-item .learn-more {
  padding: 1.2rem 3.2rem;
  background-color: #3131c6;
  color: #fff;
  border-radius: 5rem;
  font-weight: 500;
  margin-right: 1rem;
}

header .row-item .beta-signup {
  padding: 1rem 3rem;
  border: 0.1rem solid #3131c6;
  color: #0B0706;
  border-radius: 5rem;
  font-weight: 500;
  margin-left: 1rem;
}

.promote-engage {
  padding: 5rem 0;
}

.promote-engage .heading {
  width: 60%;
  margin: 0 auto;
}

.promote-engage .heading h2 {
  font-weight: bold;
}

.promote-engage .card-container {
  margin: 4rem 0;
  background: #eaeaff;
  width: 100%;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promote-engage .card-container .engage-card:nth-child(2) {
  -webkit-transform: translateY(-9rem);
          transform: translateY(-9rem);
}

.security {
  padding: 5rem 0;
}

.security h2 {
  color: #3131c6;
  font-weight: 600;
}

.security p {
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.1rem;
}

.security .join {
  margin: 6rem 0 3rem 0;
}

.security .join h2 {
  color: #0B0706;
}

.security .border {
  padding: 1.4rem 2rem;
  margin: 1rem 0.5rem;
  border-radius: 5rem;
}

.security .border .row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.security .border .row-item img {
  width: 2.6rem;
}

.security .border .row-item h5 {
  margin-left: 1rem;
  font-weight: bold;
}

.multiple-ways-to-earn {
  width: 87%;
  margin: 0 auto;
  padding: 5rem 0;
}

.multiple-ways-to-earn .row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.multiple-ways-to-earn .row-item .line {
  width: 35%;
  height: 0.4rem;
  background-color: #0B0706;
}

.multiple-ways-to-earn .row-item h2 {
  color: #3131c6;
  font-weight: 600;
}

.multiple-ways-to-earn .container-row {
  margin: 5rem 0;
  position: relative;
  height: 35rem;
  width: 100%;
}

.multiple-ways-to-earn .container-row .card-one,
.multiple-ways-to-earn .container-row .card-two {
  background: #fff;
  height: 25rem;
  width: 48%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.5) 0px 7px 26px;
          box-shadow: rgba(149, 157, 165, 0.5) 0px 7px 26px;
  position: relative;
}

.multiple-ways-to-earn .container-row .card-one .row-item,
.multiple-ways-to-earn .container-row .card-two .row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.multiple-ways-to-earn .container-row .card-one .row-item h1,
.multiple-ways-to-earn .container-row .card-two .row-item h1 {
  margin: 1rem 2rem;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bolder;
}

.multiple-ways-to-earn .container-row .card-one .row-item .box,
.multiple-ways-to-earn .container-row .card-two .row-item .box {
  position: absolute;
  top: 0;
  right: 0;
  width: 7rem;
  height: 7rem;
  background-color: #3131c6;
}

.multiple-ways-to-earn .container-row .card-one h4,
.multiple-ways-to-earn .container-row .card-two h4 {
  font-weight: bold;
  padding-left: 2.5rem;
}

.multiple-ways-to-earn .container-row .card-one p,
.multiple-ways-to-earn .container-row .card-two p {
  padding: 0 2.5rem;
}

.multiple-ways-to-earn .container-row .card-two {
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  padding: 5rem 0 3rem 0;
  background-color: #1D1E5F;
}

footer h4 {
  margin-top: 1rem;
  color: #fff;
  font-family: "Inter";
}

footer a {
  display: block;
  margin: 1rem 0;
  color: #fff;
  opacity: 0.7;
  font-family: "MuseoModerno";
}

footer a:hover {
  color: #ff5151;
}

footer .newsletter {
  font-family: "MuseoModerno";
}

footer .row-item input {
  padding: 0.5rem;
  border: none;
}

footer .row-item input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
}

footer .row-item input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
}

footer .row-item input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
}

footer .row-item input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
}

footer .row-item button {
  padding: 0.5rem 0.7rem;
  border: none;
  color: #fff;
  background-color: #6c63ff;
}

footer .social-media {
  margin-top: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-media a {
  margin-right: 1rem;
}

footer .footer-logo {
  margin-top: 5rem;
}

footer p {
  margin-top: 2rem;
  color: #fff;
  opacity: 0.5;
  font-family: "MuseoModerno";
}

@media screen and (max-width: 1200px) {
  header h1 {
    font-size: 2.7em;
  }
  header h2 {
    font-size: 1.6em;
  }
  .promote-engage {
    padding: 5rem 0;
  }
  .promote-engage .heading {
    width: 60%;
    margin: 0 auto;
  }
  .promote-engage .heading h2 {
    font-weight: bold;
  }
  .promote-engage .card-container {
    margin: 4rem 0;
    width: 100%;
    height: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promote-engage .card-container .engage-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promote-engage .card-container .engage-card img {
    width: 80%;
  }
  .promote-engage .card-container .engage-card:nth-child(2) {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  .multiple-ways-to-earn {
    width: 93%;
    margin: 0 auto;
    padding: 5rem 0;
  }
  .multiple-ways-to-earn .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .multiple-ways-to-earn .row-item .line {
    width: 23%;
    height: 0.4rem;
  }
  .multiple-ways-to-earn .row-item h2 {
    font-weight: 600;
  }
  .multiple-ways-to-earn .container-row {
    margin: 5rem 0;
    position: relative;
    height: 33rem;
    width: 100%;
  }
  .multiple-ways-to-earn .container-row .card-one,
  .multiple-ways-to-earn .container-row .card-two {
    height: 25rem;
    width: 48%;
    -webkit-box-shadow: rgba(149, 157, 165, 0.5) 0px 7px 26px;
            box-shadow: rgba(149, 157, 165, 0.5) 0px 7px 26px;
    position: relative;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item,
  .multiple-ways-to-earn .container-row .card-two .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item h1,
  .multiple-ways-to-earn .container-row .card-two .row-item h1 {
    margin: 1rem 1.1rem;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item .box,
  .multiple-ways-to-earn .container-row .card-two .row-item .box {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
  }
  .multiple-ways-to-earn .container-row .card-one h4,
  .multiple-ways-to-earn .container-row .card-two h4 {
    font-weight: bold;
    padding-left: 1.2rem;
  }
  .multiple-ways-to-earn .container-row .card-one p,
  .multiple-ways-to-earn .container-row .card-two p {
    padding: 0 1.2rem;
    font-size: 0.9em;
  }
  .multiple-ways-to-earn .container-row .card-two {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  header h1 {
    margin-top: 3rem;
    font-size: 3em;
  }
  header h2 {
    font-size: 2em;
  }
  header .row-item .learn-more {
    padding: 1.2rem 2.5rem;
    margin-right: 1rem;
  }
  header .row-item .beta-signup {
    padding: 1rem 2.3rem;
    margin-left: 1rem;
  }
  .promote-engage {
    padding: 4rem 0;
  }
  .promote-engage .heading {
    width: 90%;
    margin: 0 auto;
  }
  .promote-engage .heading h2 {
    font-weight: bold;
    font-size: 1.5em;
  }
  .promote-engage .card-container {
    margin: 2rem 0;
    width: 100%;
    height: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promote-engage .card-container .engage-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promote-engage .card-container .engage-card img {
    width: 80%;
  }
  .promote-engage .card-container .engage-card:nth-child(2) {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  .security h2 {
    font-size: 2em;
  }
  .security p {
    font-size: 1em;
    margin-top: 1.1rem;
    margin-bottom: 2.5rem;
  }
  .multiple-ways-to-earn {
    width: 93%;
    margin: 0 auto;
    padding: 5rem 0;
  }
  .multiple-ways-to-earn .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .multiple-ways-to-earn .row-item .line {
    width: 20%;
    height: 0.4rem;
  }
  .multiple-ways-to-earn .row-item h2 {
    font-weight: 600;
  }
  .multiple-ways-to-earn .container-row {
    margin: 5rem 0;
    position: relative;
    height: 33rem;
    width: 100%;
  }
  .multiple-ways-to-earn .container-row .card-one,
  .multiple-ways-to-earn .container-row .card-two {
    height: 25rem;
    width: 48%;
    -webkit-box-shadow: rgba(149, 157, 165, 0.5) 0px 7px 26px;
            box-shadow: rgba(149, 157, 165, 0.5) 0px 7px 26px;
    position: relative;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item,
  .multiple-ways-to-earn .container-row .card-two .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item h1,
  .multiple-ways-to-earn .container-row .card-two .row-item h1 {
    margin: 1rem 1.1rem;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item .box,
  .multiple-ways-to-earn .container-row .card-two .row-item .box {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
  }
  .multiple-ways-to-earn .container-row .card-one h4,
  .multiple-ways-to-earn .container-row .card-two h4 {
    font-weight: bold;
    padding-left: 1.2rem;
  }
  .multiple-ways-to-earn .container-row .card-one p,
  .multiple-ways-to-earn .container-row .card-two p {
    padding: 0 1.2rem;
    font-size: 0.9em;
  }
  .multiple-ways-to-earn .container-row .card-two {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  header {
    padding: 5rem 0;
  }
  header h1 {
    margin-top: 2rem;
    font-size: 2.4em;
  }
  header h2 {
    font-size: 1.5em;
  }
  header .row-item .learn-more {
    padding: 1.2rem 2.5rem;
    margin-right: 1rem;
  }
  header .row-item .beta-signup {
    padding: 1rem 2.3rem;
    margin-left: 1rem;
  }
  .promote-engage {
    padding: 5rem 0;
  }
  .promote-engage .heading {
    width: 90%;
    margin: 0 auto;
  }
  .promote-engage .heading h2 {
    font-weight: bold;
    font-size: 1.5em;
  }
  .promote-engage .card-container {
    margin: 2rem 0;
    width: 100%;
    height: 65rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promote-engage .card-container .engage-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promote-engage .card-container .engage-card img {
    width: 80%;
  }
  .promote-engage .card-container .engage-card:nth-child(2) {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  .security {
    padding: 5rem 0;
  }
  .security h2 {
    font-size: 1.5em;
  }
  .security p {
    font-size: 1em;
    margin-top: 1.1rem;
    margin-bottom: 2.5rem;
  }
  .security .join {
    margin: 4rem 0 2rem 0;
  }
  .security .border .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .security .border .row-item img {
    width: 1.9rem;
  }
  .security .border .row-item h5 {
    margin-left: 1rem;
    font-size: 0.9em;
  }
  .multiple-ways-to-earn {
    width: 93%;
    margin: 0 auto;
    padding: 5rem 0;
  }
  .multiple-ways-to-earn .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .multiple-ways-to-earn .row-item .line {
    width: 20%;
    height: 0.4rem;
  }
  .multiple-ways-to-earn .row-item h2 {
    font-weight: 600;
  }
  .multiple-ways-to-earn .container-row {
    margin: 5rem 0;
    position: relative;
    height: 33rem;
    width: 100%;
  }
  .multiple-ways-to-earn .container-row .card-one,
  .multiple-ways-to-earn .container-row .card-two {
    height: 25rem;
    width: 48%;
    -webkit-box-shadow: rgba(149, 157, 165, 0.5) 0px 7px 26px;
            box-shadow: rgba(149, 157, 165, 0.5) 0px 7px 26px;
    position: relative;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item,
  .multiple-ways-to-earn .container-row .card-two .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item h1,
  .multiple-ways-to-earn .container-row .card-two .row-item h1 {
    margin: 1rem 1.1rem;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item .box,
  .multiple-ways-to-earn .container-row .card-two .row-item .box {
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
  }
  .multiple-ways-to-earn .container-row .card-one h4,
  .multiple-ways-to-earn .container-row .card-two h4 {
    font-weight: bold;
    padding-left: 1.2rem;
  }
  .multiple-ways-to-earn .container-row .card-one p,
  .multiple-ways-to-earn .container-row .card-two p {
    padding: 0 1.2rem;
    font-size: 0.9em;
  }
  .multiple-ways-to-earn .container-row .card-two {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 4rem 0;
  }
  header h1 {
    margin-top: 2rem;
    font-size: 2em;
  }
  header h2 {
    font-size: 1.2em;
    margin: 1.2rem 0;
  }
  header .row-item {
    margin-top: 2rem;
  }
  header .row-item .learn-more {
    padding: 1rem 2rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    margin-bottom: 1rem;
  }
  header .row-item .beta-signup {
    padding: 0.8rem 1.8rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
  }
  .promote-engage {
    padding: 4rem 0;
  }
  .promote-engage .heading {
    width: 90%;
    margin: 0 auto;
  }
  .promote-engage .heading h2 {
    font-weight: bold;
    font-size: 1.5em;
  }
  .promote-engage .card-container {
    margin: 2rem 0;
    width: 100%;
    height: 65rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promote-engage .card-container .engage-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promote-engage .card-container .engage-card img {
    width: 80%;
  }
  .promote-engage .card-container .engage-card:nth-child(2) {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  .security {
    padding: 4rem 0;
  }
  .security h2 {
    font-size: 1.3em;
  }
  .security p {
    font-size: 1em;
    margin-top: 1.1rem;
    margin-bottom: 2.5rem;
  }
  .security .join {
    margin: 4rem 0 2rem 0;
  }
  .security .border .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .security .border .row-item img {
    width: 2rem;
  }
  .security .border .row-item h5 {
    margin-left: 1rem;
    font-size: 1em;
  }
  .multiple-ways-to-earn {
    width: 93%;
    padding: 4rem 0;
  }
  .multiple-ways-to-earn .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .multiple-ways-to-earn .row-item .line {
    width: 10%;
    height: 0.4rem;
  }
  .multiple-ways-to-earn .row-item h2 {
    font-size: 1.3em;
  }
  .multiple-ways-to-earn .container-row {
    margin: 3rem 0;
    position: relative;
    height: 50rem;
    width: 100%;
  }
  .multiple-ways-to-earn .container-row .card-one,
  .multiple-ways-to-earn .container-row .card-two {
    height: 24rem;
    width: 100%;
    position: relative;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item,
  .multiple-ways-to-earn .container-row .card-two .row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item h1,
  .multiple-ways-to-earn .container-row .card-two .row-item h1 {
    margin: 1rem 1rem;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bolder;
  }
  .multiple-ways-to-earn .container-row .card-one .row-item .box,
  .multiple-ways-to-earn .container-row .card-two .row-item .box {
    position: absolute;
    top: 0;
    right: 0;
    width: 5.5rem;
    height: 5.5rem;
  }
  .multiple-ways-to-earn .container-row .card-one h4,
  .multiple-ways-to-earn .container-row .card-two h4 {
    font-weight: bold;
    padding-left: 1rem;
  }
  .multiple-ways-to-earn .container-row .card-one p,
  .multiple-ways-to-earn .container-row .card-two p {
    padding: 0 1rem;
    font-size: 0.9em;
  }
  .multiple-ways-to-earn .container-row .card-two {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  footer {
    padding: 4rem 0 2rem 0;
  }
}
/*# sourceMappingURL=styles.css.map */